# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

from scipy.stats import linregress
# Import API key
from api_keys import g_key

import ipywidgets as widgets

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csvpath = os.path.join('..','WeatherPy', 'cities.csv')

In [3]:
weather_data = pd.read_csv(csvpath)
del weather_data['Unnamed: 0']
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,Barrow,20,US,1581711533,96,71.29,-156.79,-34.60,5.82
1,Port-Gentil,20,GA,1581711733,88,-0.72,8.78,82.40,2.24
2,Sao Filipe,100,CV,1581711733,55,14.90,-24.50,74.39,17.81
3,Buala,100,SB,1581711733,84,-8.14,159.59,79.36,9.66
4,Gushikawa,75,JP,1581711733,88,26.35,127.87,73.40,6.93
...,...,...,...,...,...,...,...,...,...
574,Fuling,100,CN,1581711902,96,29.70,107.39,43.77,3.74
575,Okha,98,RU,1581711902,86,53.57,142.95,-5.39,16.31
576,Kodinsk,11,RU,1581711903,96,58.69,99.18,5.38,4.41
577,Haines Junction,96,CA,1581711903,95,60.75,-137.51,-5.87,3.67
578,Korla,100,CN,1581711903,51,41.76,86.15,16.00,1.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [5]:
# Create a list containing coordinates
coordinates = weather_data[["Lat", "Lon"]].astype(float)
humidity = weather_data["Humidity"].astype(float)

In [6]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [22]:
#Add the layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 5)
fig.add_layer(heat_layer)

In [23]:
#Show figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
# delete all rows with undesired temperatures
indexNames = weather_data[ (weather_data['Max Temp'] > 80)].index
weather_data.drop(indexNames , inplace=True)
indexNames = weather_data[ (weather_data['Max Temp'] < 70)].index
weather_data.drop(indexNames , inplace=True)

In [10]:
# delete all rows with undesired temperatures
indexNames = weather_data[ (weather_data['Cloudiness'] != 0) ].index
weather_data.drop(indexNames , inplace=True)
indexNames = weather_data[ (weather_data['Wind Speed'] >= 10) ].index
weather_data.drop(indexNames , inplace=True)

In [11]:
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
52,Emerald,0,AU,1581711746,94,-23.53,148.17,73.40,4.70
133,Richards Bay,0,ZA,1581711771,87,-28.78,32.04,78.42,4.09
178,Takoradze,0,GH,1581711786,81,4.88,-1.76,77.72,3.69
234,Aloleng,0,PH,1581711803,83,16.13,119.78,72.27,4.56
266,Mount Isa,0,AU,1581711700,73,-20.73,139.50,71.60,2.44
284,Harper,0,LR,1581711696,87,4.38,-7.72,78.22,3.87
328,Soc Trang,0,VN,1581711829,94,9.60,105.98,73.40,2.24
368,Dingle,0,PH,1581711841,90,11.00,122.67,72.61,8.93
385,Calvinia,0,ZA,1581711846,30,-31.47,19.78,75.11,5.01
403,Giyani,0,ZA,1581711851,70,-23.30,30.72,73.90,2.51
460,Vetapalem,0,IN,1581711870,68,15.78,80.32,70.52,4.50
491,Kabin Buri,0,TH,1581711878,86,13.95,101.72,74.73,1.34
493,Mangrol,0,IN,1581711879,51,21.12,70.12,75.15,9.69
535,Esim,0,GH,1581711891,81,4.87,-2.24,77.72,3.69
540,Doka,0,SD,1581711892,22,13.52,35.77,77.77,8.48
556,Dourbali,0,TD,1581711897,13,11.81,15.86,72.90,9.33

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df = weather_data

In [13]:
hotel_df["Hotel Name"] = ""
hotel_df["Hotel Lat"] = ""
hotel_df["Hotel Lng"] = ""

In [14]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed,Hotel Name,Hotel Lat,Hotel Lng
52,Emerald,0,AU,1581711746,94,-23.53,148.17,73.40,4.70,,,
133,Richards Bay,0,ZA,1581711771,87,-28.78,32.04,78.42,4.09,,,
178,Takoradze,0,GH,1581711786,81,4.88,-1.76,77.72,3.69,,,
234,Aloleng,0,PH,1581711803,83,16.13,119.78,72.27,4.56,,,
266,Mount Isa,0,AU,1581711700,73,-20.73,139.50,71.60,2.44,,,
284,Harper,0,LR,1581711696,87,4.38,-7.72,78.22,3.87,,,
328,Soc Trang,0,VN,1581711829,94,9.60,105.98,73.40,2.24,,,
368,Dingle,0,PH,1581711841,90,11.00,122.67,72.61,8.93,,,
385,Calvinia,0,ZA,1581711846,30,-31.47,19.78,75.11,5.01,,,
403,Giyani,0,ZA,1581711851,70,-23.30,30.72,73.90,2.51,,,
460,Vetapalem,0,IN,1581711870,68,15.78,80.32,70.52,4.50,,,
491,Kabin Buri,0,TH,1581711878,86,13.95,101.72,74.73,1.34,,,
493,Mangrol,0,IN,1581711879,51,21.12,70.12,75.15,9.69,,,
535,Esim,0,GH,1581711891,81,4.87,-2.24,77.72,3.69,,,
540,Doka,0,SD,1581711892,22,13.52,35.77,77.77,8.48,,,
556,Dourbali,0,TD,1581711897,13,11.81,15.86,72.90,9.33,,,

In [15]:
from pprint import pprint

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "type": "lodging",
    "radius" : 5000,
    "key": g_key
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # add keyword to params dict
    params['location'] = f"{row['Lat']}, {row['Lon']}"

     # assemble url and make API request
    
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    #results[0]["name"]
    
    try:
        pprint(results[0]["name"])
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]["name"]
        hotel_df.loc[index, 'Hotel Lat'] = results[0]["geometry"]["location"]["lat"]
        hotel_df.loc[index, 'Hotel Lng'] = results[0]["geometry"]["location"]["lng"]
        

    except (KeyError, IndexError):
        print("--No hotel found for this city")

'The Irish Village'
'BON Hotel Waterfront Richards Bay'
'Raybow International Hotel'
'Agno Umbrella Rocks'
'ibis Styles Mt Isa Verona'
'Cape View Guest House'
'Khách Sạn Hải Yến'
'Camp Pasica'
'Die Lemoenhuis'
'Kulani Country Lodge'
'G.S Lodge'
'Baan Sri Family'
'Hotel The Royal Honours'
'AXIM BEACH RESORT AND SPA'
--No hotel found for this city
--No hotel found for this city

In [16]:
indexNames = hotel_df[ (hotel_df['Hotel Name'] == "") ].index
hotel_df.drop(indexNames , inplace=True)

hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed,Hotel Name,Hotel Lat,Hotel Lng
52,Emerald,0,AU,1581711746,94,-23.53,148.17,73.40,4.70,The Irish Village,-23.5262,148.16
133,Richards Bay,0,ZA,1581711771,87,-28.78,32.04,78.42,4.09,BON Hotel Waterfront Richards Bay,-28.7933,32.0808
178,Takoradze,0,GH,1581711786,81,4.88,-1.76,77.72,3.69,Raybow International Hotel,4.88425,-1.76405
234,Aloleng,0,PH,1581711803,83,16.13,119.78,72.27,4.56,Agno Umbrella Rocks,16.1349,119.776
266,Mount Isa,0,AU,1581711700,73,-20.73,139.50,71.60,2.44,ibis Styles Mt Isa Verona,-20.7261,139.493
284,Harper,0,LR,1581711696,87,4.38,-7.72,78.22,3.87,Cape View Guest House,4.37118,-7.72218
328,Soc Trang,0,VN,1581711829,94,9.60,105.98,73.40,2.24,Khách Sạn Hải Yến,9.61748,105.964
368,Dingle,0,PH,1581711841,90,11.00,122.67,72.61,8.93,Camp Pasica,10.9823,122.667
385,Calvinia,0,ZA,1581711846,30,-31.47,19.78,75.11,5.01,Die Lemoenhuis,-31.4715,19.7809
403,Giyani,0,ZA,1581711851,70,-23.30,30.72,73.90,2.51,Kulani Country Lodge,-23.3082,30.686
460,Vetapalem,0,IN,1581711870,68,15.78,80.32,70.52,4.50,G.S Lodge,15.7807,80.3063
491,Kabin Buri,0,TH,1581711878,86,13.95,101.72,74.73,1.34,Baan Sri Family,13.9916,101.723
493,Mangrol,0,IN,1581711879,51,21.12,70.12,75.15,9.69,Hotel The Royal Honours,21.1433,70.0887
535,Esim,0,GH,1581711891,81,4.87,-2.24,77.72,3.69,AXIM BEACH RESORT AND SPA,4.8672,-2.23399

In [17]:
hotel_info = hotel_df[["Hotel Name", "City", "Country"]].values.tolist()

for i, s in enumerate(hotel_info):
    hotel_info[i] = f"""
    <b>Name</b>:<br>{s[0]}<br>
    <b>City</b>:<br>{s[1]}<br>
    <b>Country</b>:<br>{s[2]}
    """

In [18]:
locations = hotel_df[["Hotel Lat", "Hotel Lng"]].astype(float)

In [19]:
# Add marker layer ontop of heat map
# Assign the marker layer to a variable

markers = gmaps.marker_layer(
        locations,
        info_box_content=hotel_info
    )

# Add the layer to the map
fig.add_layer(markers)
fig
# Display Map

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…